{% extends "base.html" %}
{% block content %}

<h2>College Signup</h2>

<form method="POST" action="/signup/college">

    <label>College Name</label>
    <input type="text" name="name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>City</label>
    <input type="text" name="city" required>

    <label>State</label>
    <input type="text" name="state" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>Confirm Password</label>
    <input type="password" name="confirm_password" required>

    <button type="submit">Sign Up</button>
</form>

{% endblock %}
